extends layout

block header
  div.bs-header#content
    h1 Dokmente
    p Hier können Sie alle veröffentlich Dokumente im Datenforum finden.
  div.bs-old-docs
    strong
      a(href='/rss/dokumente') Bleibe Sie auf dem neuesten Stand
    span  Haben Sie Frage oder neue Anforderungen an die Datenformate? <a href="http://fdf.vdew.net/wysvde/dataforum.nsf/Anforderung?OpenForm&login" target="_blank">Hier</a> geht's zur richtigen Seite.

block content
  div.bs-docs-container
    div.row
      div.col-md-3
        div.bs-sidebar.hidden-print.affix-top
          ul.nav.bs-sidenav
            - each thema, themaID in dokumente
                li
                  a(href='##{themaID}') #{thema.titel}
      div.col-md-9
        div.bs-docs-section
          - each thema, themaID in dokumente
            div.page-header
              h1(id='#{themaID}') #{thema.titel}
            dl.dl-horizontal
              - each dokumente, version in thema.dokumenteByVersion
                dt #{version}
                dd
                  - each dokument in dokumente
                    a(href='/dokumente/#{dokument.hash}') #{dokument.dokumentURLText}
                    p #{dokument.inhalt}