extends layout

block content
  div.bs-header#content
    div.container
      h1 Fragen
      p !{frage.frage}
  div.bs-old-docs
    div.container
      strong
        a(href='/rss/fragen') Bleibe Sie auf dem neuesten Stand 
      span Sie wollen eine neue Frage stellen? <a href="http://fdf.vdew.net/wysvde/dataforum.nsf/Frage?OpenForm&login" target="_blank">Hier</a> geht's zur richtigen Seite.
  div.bs-docs-container
    div.bs-docs-section2
      div.page-header
        h2(id='antwort') Anwort
        p.lead !{frage.kurzantwort}
        p !{frage.antwort}
        p 
          a(href='#{frage.url}') #{frage.url}